body{
    padding: 10%;
}

.s1{
    /* font-weight:bolder; */
}

.s2{
    padding-left: 3%;
}

.s3{
    padding-left: 3%;
}

.s4{
    /* font-weight:bolder; */
    padding-left: 10%;
}

.s5{
    padding-left: 13%;
}

.s6{
    padding-left: 13%;
}

.s7{
    /* font-weight:bolder; */
    padding-left: 20%;
}

.s8{
    padding-left: 23%;
}

.s9{
    padding-left: 23%;
}